@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    HBOD is a website that allows the user to filter any location in the U.S. to find Hairstylist or Barber and schedule appoints on demand.
    Consumer can view shops, Hairstylist, or Barbers profile pages from anywhere to decide where is the best location to get what they are looking for.
    It is an convenient instant feed back website that gets immediate results, and is base of consumer feed back through reviews.
</p>

<p>
    Learn about local Hairstylist or Barber from pictures and read reviews and post from previous customers
    Find mobile Hairstylist or Barber on demand
    Find the best available Hairstylist or Barber and get onto their schedule
    Set and manage appointments based on your own needs
    Easily communicate which haircut you want and know the costs
    Pay with your phone, keeping credit cards and cash out of sight
    Read review and post from previous customers
</p>