@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MSSA Project <br />
    Fort Bragg, NC 28310<br />
    <abbr title="Phone">P:</abbr>
    312.833.5262
</address>

<address>
    <strong>GitHub:</strong>   <a href="https://github.com/cornellreddick">My GitHub</a><br />
    <strong>Email:</strong> <a href="cornellreddick@gmail.com">Personal Email Address</a> <br />
    <strong>Email:</strong> <a href="linkedin.com/in/cornellreddick "> Linkedin Address</a>
</address>