@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hairstylist & Barbers On Demand</h1>
    <p class="lead">
        HBOD is a website that allows the user to filter any location in the U.S. to find Hairstylist or Barber and schedule appoints on demand.
        Consumer can view shops, Hairstylist, or Barbers profile pages from anywhere to decide where is the best location to get what they are looking for.
        It is an convenient instant feed back website that gets immediate results, and is base of consumer feed back through reviews.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>
            Customers will Register here.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Hairstylist</h2>
        <p>Hairstylists will Register here.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Barber</h2>
        <p>Barbers will register here</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>